body
{
    display: flex;
    justify-content: center;
}

.box
{
    font-family: cursive;
    text-align: center;
    font-size: 6em;
    background-color: aquamarine;
    width: 6em;
    height: 4em;
    border-color: brown;
    border-width: 100px;
}