*
{
    margin: 0;
    padding: 0;
}

#nature
{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(171, 236, 171);
    position: fixed;
    left: 89%;
    background: lightskyblue;
    background-image: url();
}
.border
{
    height: 900px;
    width: 200px;
    border: 2px solid lightcoral;
}