body
{
    font-family: Arial, sans-serif;
    margin: 40px;
}
button
{
    padding: 12px 25px;
    border: none;
    background: royalblue;
    color: white;
    cursor: pointer;
    transition:background .3s;
}
button:hover
{
    background: crimson;
}
.box
{
    width: 200px;
    padding: 20px;
    margin: 25px 0;
    text-align: center;
    color: white;
    color: teal;
    transition:all .5s;
}
.width-box:hover
{
    width:350px;
}
.transform-box:hover
{
    transform:scale(2);
}
.opacity-box:hover
{
    opacity: .3;
}
.multi-box:hover
{
    background: tomato;
    transform: rotate(10deg);
    border-radius: 20px;
}
.timing:hover
{
    transform: translate(300px);
}
.linear
{
    transition-timing-function: linear;
}
.ease
{
    transition-timing-function: ease;
}
.ease-in
{
    transition-timing-function: ease-in;
}
.ease-out
{
    transition-timing-function: ease-out;   
}
.ease-in-out
{
    transition-timing-function: ease-in-out;
}